[submodule "libraries/Zchaos"]
	path = libraries/Zchaos
	url = ssh://zxyxy@172.20.0.2:/git/zchaos
[submodule "Zchaos"]
	path = Zchaos
	url = ssh://zxyxy@172.20.0.2:/git/zchaos
[submodule "hardware/espressif/esp32"]
	path = hardware/espressif/esp32
	url = https://github.com/espressif/arduino-esp32.git
